* {
  margin:0px;
  padding:0px;
  font-family:"IBM Plex Sans",Helvetica, sans-serif;
}
body {
  background:#e1e1e6;
  width: 100%;
  height:100%;
}
.flexbox {
  display: flex;
}
h1.heading {
  font-size:24px;
  margin-left:26px;
  margin-top:26px;
}
#embedded-body {
  margin:26px;
  margin-top:13px;
  display:block;
  width:800px;
  height:600px;
  border-style:solid;
  border-width:2px;
  border-color:#d4d4d4;
  border-radius:3px;
  background:white;
  position:relative;
}

#embed-text {
  width:400px;
  height:605px;
  margin-left:26px;
  margin-top:13px;
  padding:12px;
  border-style:solid;
  border-width:2px;
  border-color:#d4d4d4;
  border-radius:3px;
  background:white;
  color:rgb(140,140,140);
  font-size: 11px;
  resize: none;
}

.build-button {
  display: block;
  margin-top:12px;
  margin-left:27px;
  padding:9px;
  width: 398px;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  border-color: #d4d4d4;
  background:rgb(10,200,40);
  color:rgb(230,230,230);
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.flex {
  flex:1;
}

#updater {
  height:14px;
  font-size: 12px;
  background-color: white;
  padding:2px;
  padding-left:28px;
  transition: all .2s;
}
#updater.updated {
  height:14px;
  font-size: 12px;
  background-color: white;
  color: rgb(40,210,60);
}
#updater.updating {
  height:16px;
  font-size: 14px;
  padding:6px;
  padding-left:28px;
  background-color: rgb(255,255,60);
  color:black;
}
#updater.error {
  background-color: red;
}
#updater.building {
  height:16px;
  font-size: 14px;
  padding:6px;
  padding-left:28px;
  background-color: rgb(70,60,225);
  color:white;
}
#updater.built {
  height:14px;
  font-size: 12px;
  background-color: white;
  color: rgb(70,60,225);
}
