* {
  margin:0px;
  padding:0px;
  font-family:"IBM Plex Sans",Helvetica, sans-serif;
}
body {
  background:rgb(245,245,249);
  width: 100%;
  height:100%;
}
.flexbox {
  display: flex;
  padding:20px;
}
.flex {
  flex:1;
  padding:6px
}
h1.heading {
  font-size:24px;
}
#embedded-body {
  margin-top:13px;
  margin-bottom:0px;
  padding:4px;
  display:block;
  width:800px;
  height:600px;
  border-style:solid;
  border-width:1px;
  border-color:#d4d4d4;
  border-radius:5px;
  background:white;
  position:relative;
  overflow: hidden;
}

#embed-text {
  width:100%;
  height:608px;
  margin-top:14px;
  padding:12px;
  border-style:solid;
  border-width:1px;
  border-color:#d4d4d4;
  border-radius:5px;
  background:rgb(230,230,230);
  color:rgb(140,140,140);
  font-size: 11px;
  resize: none;
}

.build-button {
  display: block;
  margin-top:12px;
  padding:9px;
  width: 100%;
  border-style: solid;
  border-width: 0px;
  border-radius: 5px;
  background-color:rgb(70,60,225);
  color:rgb(230,230,230);
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

#updater {
  height:16px;
  font-size: 12px;
  background-color: rgb(250,250,252);
  padding:4px;
  padding-left:28px;
  transition: all .2s;
}
#updater.updated {
  height:14px;
  font-size: 12px;
  background-color: white;
  color: rgb(40,210,60);
}
#updater.updating {
  height:16px;
  font-size: 14px;
  padding:6px;
  padding-left:28px;
  background-color: rgb(255,255,60);
  color:black;
}
#updater.error {
  background-color: red;
}
#updater.building {
  height:16px;
  font-size: 14px;
  padding:6px;
  padding-left:28px;
  background-color: rgb(255,245,160);
  color:white;
}
#updater.built {
  height:14px;
  font-size: 12px;
  background-color: white;
  color: rgb(70,60,225);
}

.page-info {
  display: block;
  width: auto;
  margin-top:10px;
  height:36px;
  background: rgb(230,230,230);
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  border-color: #d4d4d4
}
.p-i-link {
  float: right;
  display: inline-block;
  height: 100%;
  width: auto;
  border-style: solid;
  border-width: 0px;
  border-left-width: 1px;
  border-color:#d4d4d4;

  line-height: 36px;
  vertical-align: middle;
  font-size: 11px;
  text-decoration: none;
  color:black;
}
.p-i-link:hover {
  text-decoration: underline;
}
/*.p-i-link:nth-child(1){
  border-left-width: 0px;
}*/
.p-i-link .text {
  margin-top:-6px;
}
.p-i-link.github svg {
  margin-left:6px;
  margin-right:6px;
  margin-top:4px;
}
